3D/~$*.SLDASM
3D/~$*.SLDPRT
Electronics/Motherboard/__Previews/*
Electronics/Motherboard/History/*
ToDo.txt
Electronics/Motherboard/temp/*
*.LOG
Electronics/Mainboard/History/*
Electronics/Mainboard/__Previews/*
